
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

/* 
Desktop first
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
yellow:         #ffbb00
light-grey:     #8a8a8a
dark-grey:      #333333
blue:           #1487fd
*/

body{
    background-color: white;
  
}

 #topbg  {
    background: url(images/Group\ 4634.svg) , url(images/Rectangle\ 1914.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:-250px -1029px;
    background-size: auto;
    }
    
    
    /*logga*/
    .navbar-light .navbar-brand {
      /*color: rgba(0, 0, 0, 0.9);*/
      margin-left: 150px;
    }
    /*Modifiera standard navbar från bootstrap*/
   .navbar-light .navbar-nav .nav-link {
      color: #ffffff;
      font-weight: 500;
       border-bottom: 3px solid transparent;
    }
    
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
      color: #ffbb00;
      border-color:#ffbb00;
      width: 62%;
    }
    
    /**Fixa*/
  
 
 .btn{
    width: 110px;
    margin-right: 5px;
    margin-left: 5px;
   
    }
    
  .outlinebtn{
    background-color: transparent;
    color:#fff;
    border-radius: 8px;
    width: 200px;
    height:80px;
    padding-top:20px;
    border: 1px solid white;
  }
 #showcase{
     display:flex; 
     width:1165px;
     margin-left: 225px;
     color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border:1px dotted;
    
}
#showcase h1 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 150px;
}
#showcase p{
  font-weight: 500;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; 
}

 .row {
  width:1165px;
  margin-top: 0;
  
 }
.col{
   margin-top: 60px;
     border:1px solid;
     
    }
    .heading{
      border-radius: 15px;
      background-color:rgba(255, 187, 0,0.4) ;
      padding: 15px;
      display: inline-block;
      font-weight: bold;
      color:rgb(255, 187, 0)
    }
 /*About us*/ 
 @keyframes spin { 100% { transform: rotate(360deg); }}
    #about-us {
      margin-top: 10rem;
     margin-left: 225px;
     width:1165px;
     border:1px solid;
    }
    #about-us   .bg2{
      margin-top: -600px;
    margin-left: 150px;
    z-index: 1;
    /*animation: spin 4s linear infinite;*/
  }
  #about-us .p{
    font-family: 'Roboto', sans-serif; 
  }
   
/*features*/
#features {
  margin-top: 10rem;
  margin-left: 225px;
  width:1165px;
  border:1px solid;
  font-family: 'Roboto', sans-serif; 
}
#features h1{
  
  font-size: 40px;
}
#features p{
  
  font-size: 16px;
}
.layer3{
  position: relative;
  display: inline-block;
  right: -100px;

  }
  .layer2{
   
    position: relative;
    background: transparent;
    margin-top: -500px;
    left: 0px;
  }
  .layer1{
    
    position: relative;
    background: transparent;
    margin-top: -550px;
    left: 250px;
  }
  /*screens*/
  #screens {
    margin-top: 10rem;
    margin-left: 225px;
    width:1165px;
    border:1px solid;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    
   
  }
 /* #screens .header{
    border:1px dotted;
    display: inline-block;
    width:550px;*/
  }
  #screens h1{
  font-size: 40px;
  text-align: center;
    
  }
  #screens p{
  text-align: center;
    font-size: 16px;
  }
  #screens .img{
    width:100%;
  }
  
  
  
  .header{
    border:1px dotted;
    display: inline-block;
    width:550px;
  }
  #info{
    
    margin-top:50px;
  }
  .bluebg{
    height:550px;
    background: url(images/bluebg.svg);
    background-size: cover;
  }
  /*download*/
  #download {
    margin-top: 10rem;
    margin-left: 225px;
    width:1165px;
    height:550px;
    border:1px solid;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
   
   
  }
  .cropped  {
    width: 100%;
    height:490px;
    border: 1px dotted black;
    overflow: hidden;
   
  }
  #contactus {
    margin-top: 10rem;
    margin-left: 225px;
    width:1165px;
    border:1px solid;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    background: chartreuse;
   
  }
 /**/
    
     @media screen and (max-width: 600px) {
       body {
         background-color: blueviolet;
       }
      #topbg {
           
            border:3px solid greenyellow; 
             background: blue;
           /*  background: url(./Group\ 4634.svg) , url(./Rectangle\ 1914.svg);*/
            /* background-size: auto;
             background-repeat: no-repeat;
             background-position:-250px -1029px;
             background-size: auto;*/
             width: 1050px;
             height:200px;
           }
           #showcase{
            width:100%;
           }
           #about-us{
            width:100%;
           }
           /*.toppic{
             background: url(./Group\ 4634_sm.png) , url(./Rectangle\ 1914_sm.png);
            
             
             background-repeat: no-repeat;
             background-position:-50px -150px;*/
           }
           .navbar {
            margin-left: 0px;
            width:100%;
            border:2px solid;
          }   
             
      }